.todo_cart {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid black;
  margin: 4px;
}

h4 {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 4px;
  width: 300px;
}

.done {
  background-color: rgb(81, 201, 117);
  text-decoration: line-through;
}

.undone {
  background-color: rgb(226, 228, 108);
}

.progres {
  width: 200px;
  border: black 1px solid;
  margin: auto;
}
